.body
  .contents
    = render partial: "users/header"
    .contents__main
      .main-head
        .main-head__confirmation
          購入内容の確認
        .buy-content 
          .buy-content-inner
            %img.inner-image{alt: "karioki", src: "assets/nikorun.jpeg",height: "148",width: "148"}/
            .item-name
              にこるん
            .form
              .price
                .price-bold
                  ¥5,000 
                .price-font
                  送料込み
              .point
                ポイントはありません
              .price-total
                .price-total__siharai
                  支払い金額
                .price-total__bold
                  ¥5,000
              .purchase
              %h1
              =link_to "", id:"",class:"purchase" do
                %button.btn-red{type: "submit"} 購入する
        .buy-user-info1
          .buy-content-inner
            .inner
              配送先
            .address
              .number
                〒552-0002
              .address-info
                大阪府大阪市港区市岡元町3-3-21-402
              .user-name
                蔵田 亮人
            .fix
            %li
              =link_to "", id:"",class: "change" do
                変更する >
        .buy-user-info2
          .buy-content-inner
            .inner
              支払い方法
            .number
              .secret-number
                *********1049
              .year-month
                10/24
              .figure
              %img{alt: "jcb", height: "20", src: "//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?2177740229", width: "26"}/

            .fix
            %li
              =link_to "", id:"",class: "change" do
                変更する >
    = render partial: "users/footer"
