.wrapper
  =render partial: "shared/mainheader"
  %nav.header_nav
    %ul.nav_box
      %li.nav_list
        =link_to "#", class: "nav_list__anchor" do
          - breadcrumb :edit
          = breadcrumbs separator: "<i class='fas fa-angle-right'></i>"

  .main
    .main_body
      =render partial: "shared/sidebar"
      =render partial: "shared/usercheck"

  =render partial:"shared/footer-imag"
  =render partial:"shared/footer"