.credit_box
  .box_top
    支払い方法

  .box_main
    .box_content
      .box_content__show
        クレジットカード一覧
      
      .box_content__add
        .add-content
          =link_to creditnew_user_path, class: "add-content__link" do
            = icon('fas', 'credit-card', class: 'add-content__icon')
            クレジットカードを追加する

    .box_footer
      =link_to "#", class: "box_footer__link" do
        %span 支払い方法について 
        = icon('fas', 'chevron-right')
