.wrapper
  =render partial: "header"
  =render partial: "header-nav"

  .main
    .main_body
      =render partial: "sidebar"
      =render partial: "usermypage"

  =render partial:"footer-imag"
  =render partial:"footer"