.wrapper
  =render partial: "shared/header"
  =render partial: "shared/header-nav3"

  .main
    .main_body
      =render partial: "shared/sidebar"
      =render partial: "shared/credit"

  =render partial:"shared/footer-imag"
  =render partial:"shared/footer"