.wrapper
  =render partial: "header"
  =render partial: "header-nav3"

  .main
    .main_body
      =render partial: "sidebar"
      =render partial: "credit2"

  =render partial:"footer-imag"
  =render partial:"footer"