.wrapper
  =render partial: "header"
  =render partial: "header-nav2"

  .main
    .main_body
      =render partial: "sidebar"
      =render partial: "logout"

  =render partial:"footer-imag"
  =render partial:"footer"