.wrapper
  =render partial: "header"
  =render partial: "header-nav5"

  .main
    .main_body
      =render partial: "sidebar"
      =render partial: "profile"

  =render partial:"footer-imag"
  =render partial:"footer"