.wrapper
  =render partial: "shared/mainheader"
  %nav.header_nav
    %ul.nav_box
      %li.nav_list
        =link_to "#", class: "nav_list__anchor" do
          - breadcrumb :profile
          = breadcrumbs separator: "<i class='fas fa-angle-right'></i>"
  .top-main
    = render partial: "shared/exhabit-button"
  .main
    .main_body
      =render partial: "shared/sidebar"
      =render partial: "shared/profile"
      
  =render partial: "shared/footer-imag"
  =render partial: "shared/mainfooter"     