.wrapper
  =render partial: "shared/mainheader"
  =render partial: "shared/header-nav1"
  .top-main
    = render partial: "shared/exhabit-button"
  .main
    .main_body
      =render partial: "shared/sidebar"
      =render partial: "shared/exhibit"

  =render partial:"shared/footer-imag"
  =render partial:"shared/mainfooter"
