.wrapper
  =render partial: "users/mainheader"
  =render partial: "header-nav1"

  .main
    .main_body
      =render partial: "sidebar"
      =render partial: "usermypage"

  =render partial:"footer-imag"
  =render partial:"layouts/footer"