.wrapper
  =render partial: "mainheader"
  =render partial: "header-nav1"

  .main
    .main_body
      =render partial: "sidebar"
      =render partial: "exhibit"

  =render partial:"products/footer-imag"
  =render partial:"layouts/mainfooter"