.wrapper
  =render partial: "shared/mainheader"
  %ul.nav_box
    %li.nav_list
      =link_to "#", class: "nav_list__anchor" do
        - breadcrumb :user
        = breadcrumbs separator: "<i class='fas fa-angle-right'></i>"


  .main
    .main_body
      =render partial: "shared/sidebar"
      =render partial: "shared/usermypage"

  =render partial:"shared/footer-imag"
  =render partial:"shared/footer"
