.wrapper
  =render partial: "shared/mainheader"
  %nav.header_nav
    %ul.nav_box
      %li.nav_list
        =link_to "#", class: "nav_list__anchor" do
          - breadcrumb :soldout
          = breadcrumbs separator: "<i class='fas fa-angle-right'></i>"

  .main
    .main_body
      =render partial: "shared/sidebar"
      .l-content
        %section.mypage-tab
          %h2.mypage-tab-head 出品した商品
          %ul.listing-tabs
            %li.active
              %h3
                =link_to selling_user_path do
                  出品中
            %li
              %h3
                =link_to root_path do
                  取引中
            %li
              %h3
                =link_to soldout_user_path do
                  売却済み
          .tab-content
            %ul
              %li
                - @soldouts.each do |soldout|
                  =link_to myproduct_product_path(soldout.id), class:"mypage-item" do
                    =image_tag (soldout.images[0].image.url),class:"item-image",size: "175x175"
                    %figure
                      %image
                    .mypage-item-body
                      .mypage-item-text
                        = soldout.name
                      %div
                        %span.listing-item-count
                          %i.icon-like-border
                        %span.listing-item-count
                          %i.icon-message
                        .maypage-item-status
                          売却済み
  =render partial:"shared/footer-imag"
  =render partial:"shared/footer"