.l-content
  %section.mypage-tab
    %h2.mypage-tab-head
      出品した商品
    %ul.listing-tabs
      %li.active
        %h3
          =link_to selling_user_path do
            出品中
      %li
        %h3
          =link_to root_path do
            取引中
      %li
        %h3
          =link_to soldout_user_path do
            売却済み
    .tab-content
      %ul
        %li
          - @sellings.each do |selling|
            =link_to myproduct_product_path(selling.id), class:"mypage-item" do
              -if selling.images.length == 0
                =image_tag "",class:"item-image",size: "175x175"
                .mypage-item-body
                  .mypage-item-text
                    = selling.name
                  %div
                    %span.listing-item-count
                      %i.icon-like-border
                    %span.listing-item-count
                      %i.icon-message
                    .maypage-item-status
                      出品中
              -else
                =image_tag selling.images.first.image.url,class:"item-image",size: "175x175"
                .mypage-item-body
                  .mypage-item-text
                    = selling.name
                  %div
                    %span.listing-item-count
                      %i.icon-like-border
                    %span.listing-item-count
                      %i.icon-message
                    .maypage-item-status
                      出品中