.pic
  .pic__se
    .main
      .main__one
        スマホでかんたんフリマアプリ
      .main__two
        今すぐ無料ダウンロード
      .main-2    
        .main-2__three
          = image_tag("/images/logo_red.svg")
        .main-2__for
          = image_tag("https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg")
        .main-2__five
          = image_tag("https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg")
    .main-3
      = image_tag("/images/111.jpg") 