.body{
  min-height: 100%;
  background: #F5F5F5;
  font-family: ‘Source Sans Pro’, Helvetica , Arial, ‘游ゴシック体’, ‘YuGothic’, ‘メイリオ’,’Meiryo’, sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
  .contents{
    &__header{
      height: 128px;
      text-align: center;
      h1{
        margin: 40px 0 0;
        display: inline-block;
        a{
          width: 185px;
          height: 49px;
          line-height: 49px;
          display: inline-block;
          margin: 0 8px 0 0;
          color: #0099E8;
          text-decoration: none;
          img{
            vertical-align: middle;
          }
        }
      }
    }
    &__main{
      display: block;
      .main-head{
        margin: 0 auto;
        background-color: #fff;
        width: 700px;
        &__confirmation{
          padding: 20px;
          text-align: center;
          display: block;
          font-size: 1.5em;
          margin-block-start: 0.83em;
          margin-block-end: 0.83em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          font-weight: bold;
          margin: 0px;
        }
        .buy-contents{
          padding: 40px 40px 64px;
          border-top: 1px solid #f5f5f5;
          .content{
            max-width: 320px;
            margin: 0 auto;
            label{
              font-weight: bold;
              text-align: start;
              float: left;
            }
            .input-form{
              height: 30px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
              width: 100%;
              margin: 8px 0 0;
            }
            span{
              background-color: #ea352d;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
            }
            any{
              background-color: #cccccc;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
              float: left;
            }
            .form-group{
              margin-top: 32px;
            }
            .btn-red{
              -webkit-appearance: none;
              width: 100%;
              display: block;
              background: #ea352d;
              color: #fff;
              font-size:14px;
              margin-top: 32px;

            }
          }
        }
      }
    }
    &__footer{
      width: 456px;
      height: 140px;
      margin: 0 auto;
      padding: 45px 0px 40px 0px;
      text-align: center;
      nav{
        ul{
          font-size: 0;
          list-style-type: disc;
          li:first-child{
            margin: 0;
          }
          li{
            display: inline-block;
            font-size: 12px;
            margin: 0 0 0 16px;
            a{
              height: 12px;
              color: #333;
              text-decoration: none;
            }
          }
        }
      }
      .mercari-icon{
        display: block;
        color: #333;
        width: 80px;
        height: 65px;
        margin: 40px auto 0;
        text-decoration: none;
        touch-action: manipulation;
      }
      p{
        margin: 8px 0 0;
        display: block;
        small{
          font-size: 12px;
        }
      }
    }
  }
}
.return{
  color:#0099e8;
  text-decoration: none;
}
a{
  text-decoration: none;
}
li{
  text-decoration: none;
}