.header_nav {
  background-color: white;
  border-top: solid 1px #F5F5F5;
  border-bottom: solid 2px #C0C0C0;
  height: 45px;
  .nav_box {
    height: 1px;
    width: 1020px;
    margin: 0 auto;
    display: flex;
    padding: 16px 0;
    }
    .breadcrumbs {
      
      a{
      font-size: 14px;
      color: #333333;
      text-decoration: none;
      }
      a:hover{
        border-bottom: 1px solid #333333;
        opacity: 0.7;
      }
      .current{
      font-size: 14px;
      font-weight: 600;
      color: #333333;
      }
      i{
        margin: 0 8px;
        color: #D5D5D5;
      }
    }
  }