.profile-body {
  width: 700px;
  max-height: 670px;
  background-color: #fff;
}
.profile-head{
  height: 50px;
  width: 100%;
  text-align:center;
  h2{
    font-size: 24px;
    font-weight: 700;
    padding: 8px 24px;
  }
}

.image-tag{
 background-image: url(10169001846.jpg);
 background-size: contain;
 height: 200px;
 width: 100%;
 text-align:center
//  vertical-align: center;
}

.image-second {
  margin: auto 0;
  display: inline;
  &__input{
    margin: 70px 0 0 30px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  &__input:focus {
    outline: 0px;
    border-color: #1D9EE9;
  }
  .image-cat {
    width: 50px;
    height: 50px;
    display: table-caption;
  }
  img {
    border-radius: 50px;
    margin: 20px 10px 0 0;
  }
}

.image-text{
  max-width: 700px;
  padding: 40px 16px;
  &__input{
    width: 100%;
    min-height: 216px;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  &__input:focus {
    outline: 0px;
    border-color: #1D9EE9;
  }

  .image-change{
    width: 100%;
    .image-change-btn {
      width: 100%;
      margin: 20px 0 0 0;
      background-color: #ea352d;
      height: 60px;
      text-align: center;
      line-height: 60px;
      color: white;
    }
  }
}

