.main {
  background-color: #F5F5F5;
  
}

.sidebar {
  width: 280px;
  margin: 0 auto 0;
  padding-top: 40px;
}

.mypage {
  background-color: #ffffff;
  &__list {
    border-bottom: 1px solid #EEEEEE;
  }

  &__anchor {
    display: block;
    padding: 16px;
    text-decoration: none;
    font-size: 14px;
    color: #333;
  }
}

.mypage_head_word {
  font-size: 16px;
  margin: 40px 0 3px;
  font-weight: bold;
}