.content {
  background-color: #F5F5F5;
}

.user_top,.user_news {
  background-color: #fff;
}

.user_good {
  background-color: #fff;
}

.user_list {
  padding: 16px;
  &__move:hover {
    opacity: 0.9;
  }
  &__move {
    background-color: #EEEEEE;
    display: block;
    text-decoration: none;
    color: inherit;
    text-align: center;
    height: 56px;
    line-height: 56px;
  }
}