.main {
  background-color: #F5F5F5;
}

.main_body {
  max-width: 1020px;
  margin: 0 auto;
  padding: 40px 0 40px;
  display: flex;
}

.user_top,.user_news {
  background-color: #fff;
}

.user_good {
  background-color: #fff;
}

.user_main {
  width: 700px;
}

.user_top {
  .top_link {
    position: relative;
    display: block;
    text-decoration: none;
    color: inherit;
    height: 200px;
    padding: 20px;
    background: url(/assets/shutterstock_197738150-w960.jpg);
    .top_content {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      text-align: center;
      &__image {
        text-align: center;
        img {
          border-radius: 30px;
        }
      }
      &__name {
        margin-top: 8px;
        font-size: 14px;
        display: inline-block;
        line-height: 20px;
        font-weight: 600;
      }
      &__record {
        text-align: center;
        margin-top: 8px;
        display: flex;
        justify-content: center;
        font-size: 14px;
        font-weight: 400;
      }
      &__review {
        span {
          font-weight: 600;
        }
      }
      &__number {
        margin-left: 16px;
        span {
          font-weight: 600;
        }
      }
    }
    .top_content:hover {
      opacity: 0.7;
      .top_content__name {
        border-bottom: solid 1px #000000;
      }
    }
  }
}

.user_list {
  padding: 16px;
  &__move:hover {
    opacity: 0.2;
  }
  &__move {
    background-color: #EEEEEE;
    display: block;
    text-decoration: none;
    color: inherit;
    text-align: center;
    height: 56px;
    line-height: 56px;
  }
}

.user_news {
  margin-bottom: 40px;
}

.user_news_head {
  display: flex;
  .user_tabs.current {
    background-color: #fff;
    border-top: 2px solid #ea352d;
  }
  .user_tabs {
    background-color: #EEEEEE;
    width: 50%;
    text-align: center;
    .user_news_head_link {
      display: block;
      color: inherit;
      text-decoration: none;
      line-height: 72px;
      font-weight: 700;
    }
    .user_news_head_link:hover {
      opacity: 0.7;
    }
  }
}

.good_top {
  font-size: 16px;
  line-height: 72px;
  font-weight: 700;
  padding: 0 16px;
  background-color: #FAFAFA;
}



.user_contact {
  position: relative;
  &__right {
    font-size: 14px;

  }
  &__icon {
    position: absolute;
    top: 33%;
    right: 16px;
  }
  &__link {
    display: block;
    padding: 16px;
    border-bottom: 1px solid #EEEEEE;
    color: inherit;
    text-decoration: none;
    display: flex;
  }
  &__image {
    margin-right: 20px;
  }
  &__time {
    color: #B1B1B1;
    margin-top: 5px;
    i {
      margin-right: 4px;
    }
  }
  &__finish {
    display: inline-block;
    background-color: #888888;
    color: #fff;
    padding: 5px 6px;
    font-size: 12px;
    margin-top: 8px;
    border-radius: 2px;
    font-weight: 600;
    line-height: 1.0;
  }
}

.user_contact:hover {
  background-color: #FAFAFA;
  cursor: pointer;
}
