.main 
  .credit_box
    .box_top
      支払い方法

    .box_main
      .box_content
        %h3 
          クレジットカード一覧
        .box_show
          .show_left
            .show_left__icon
              = icon('fab', 'cc-jcb')
            .show_left__info
              ✖︎✖︎✖︎✖︎✖︎✖︎✖︎✖︎1039
            .show_left__expire
              07/23
          .show_right
            =link_to "#", class: "show_right__delete" do
              削除する


          

      .box_footer
        =link_to "#", class: "box_footer__link" do
          %span 支払い方法について 
          = icon('fas', 'chevron-right')