.header

.main
  .sidebar 
    %nav.side-nav
      %ul.mypage
        %li.mypage__list
          =link_to "#", class: "mypage__anchor" do
            マイページ
        %li.mypage__list
          =link_to "#", class: "mypage__anchor" do
            マイページ
        %li.mypage__list
          =link_to "#", class: "mypage__anchor" do
            マイページ
        %li.mypage__list
          =link_to "#", class: "mypage__anchor" do
            マイページ
        %li.mypage__list
          =link_to "#", class: "mypage__anchor" do
            マイページ
        %li.mypage__list
          =link_to "#", class: "mypage__anchor" do
            マイページ
        %li.mypage__list
          =link_to "#", class: "mypage__anchor" do
            マイページ
        %li.mypage__list
          =link_to "#", class: "mypage__anchor" do
            マイページ
        %li.mypage__list
          =link_to "#", class: "mypage__anchor" do
            マイページ      
        %li.mypage__list
          =link_to "#", class: "mypage__anchor" do
            マイページ
        %li.mypage__list
          =link_to "#", class: "mypage__anchor" do
            マイページ
        %li.mypage__list
          =link_to "#", class: "mypage__anchor" do
            マイページ
        %li.mypage__list
          =link_to "#", class: "mypage__anchor" do
            マイページ
        %li.mypage__list
          =link_to "#", class: "mypage__anchor" do
            マイページ

      .merupay
        メルペイ
      %ul.mypage
       %li.mypage__list
          =link_to "#", class: "mypage__anchor" do
            マイページ
        %li.mypage__list
          =link_to "#", class: "mypage__anchor" do
            マイページ
      
      .setting
        設定

      %ul.mypage
        %li.mypage__list
          =link_to "#", class: "mypage__anchor" do
            マイページ
        %li.mypage__list
          =link_to "#", class: "mypage__anchor" do
            マイページ
        %li.mypage__list
          =link_to "#", class: "mypage__anchor" do
            マイページ
        %li.mypage__list
          =link_to "#", class: "mypage__anchor" do
            マイページ
        %li.mypage__list
          =link_to "#", class: "mypage__anchor" do
            マイページ
        %li.mypage__list
          =link_to "#", class: "mypage__anchor" do
            マイページ
        %li.mypage__list
          =link_to "#", class: "mypage__anchor" do
            マイページ

.footer
