.user_main
  .user_top
    Kazu.s
    評価 25 出品数 6

  .user_news
    .user_tabs
      お知らせ やることリスト

    .user_content
      .user_contact
        事務局から個別メッセージ「お問い合わせ受付完了のお知らせ」
        18時間前

      .user_contact
        事務局から個別メッセージ「お問い合わせ受付完了のお知らせ」
        18時間前

      .user_contact
        事務局から個別メッセージ「お問い合わせ受付完了のお知らせ」
        18時間前

      .user_contact
        事務局から個別メッセージ「お問い合わせ受付完了のお知らせ」
        18時間前

      .user_contact
        事務局から個別メッセージ「お問い合わせ受付完了のお知らせ」
        18時間前

      .user_list
        = link_to "#", class: "user_list__move" do
          一覧を見る

  .user_good
    .good_top
      購入した商品

    .good_tabs
      取引中 過去の取引

    .good_content
      .good_item
        「Kazuさん専用」を購入しました。取引が完了しました。
        取引完了

      .good_item
        「Kazuさん専用」を購入しました。取引が完了しました。
        取引完了

      .good_item
        「Kazuさん専用」を購入しました。取引が完了しました。
        取引完了

      .good_item
        「Kazuさん専用」を購入しました。取引が完了しました。
        取引完了

      .good_item
        「Kazuさん専用」を購入しました。取引が完了しました。
        取引完了
      .user_list
        = link_to "#", class: "user_list__move" do
          一覧を見る

      

    