.default-container
  %section



  .item-detail-message
    .message-container
      .message-content1
        .messages
          .message-1
            .message-user
              .user-image
                =image_tag("/assets/nikorun.jpg",class:"img")
                .exhibitor
              .user-name
                user-name
            .message-text
              .message-text__text
                ありがとう
              .post-time
                .times-left
                  %i.far.fa-clock
                  .time
                    2時間前
          .message-2
            .message-user
              .user-image
                =image_tag("/assets/nikorun.jpg",class:"img")
                .exhibitor
                  %p
                    出品者
              .user-name
                user-name
            .message-text
              .message-text__text
                こちらこそ
              .post-time
                .times-left
                  %i.far.fa-clock
                  .time
                    1時間前
      .message-content2
        .message-form
          .caution
            相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          .text
          %textarea{cols:"40",name:"kanso",rows:"4",class:"form"}
          .submit
            %p
              コメントする
  .navigation
    .navigation__left
      .left-side
        < left producys
    .navigation__right
      .right-side
        right products >
  .social-media
    .social-media__icon
      =image_tag("/assets/facebook-icon.jpg",class:"facebook")
      =image_tag("/assets/twitter.jpg",class:"twitter")
      =image_tag("/assets/pinterest.jpg",class:"pinterest")
  .users-product
    .product-file
      .head
        .head__content
          USERのその他の商品
  .products
    .back-image
      .image-block
        .image
          =image_tag("/assets/karioki.jpg",size: "220x220",alt:"",class:"item-image")
        .image-content
          .item-name
            メンズ服
          .price
            .price-content
              ¥5,000
    .back-image
      .image-block
        .image
          =image_tag("/assets/karioki.jpg",size: "220x220",alt:"",class:"item-image")   
          .price
            .price-content
        .image-content
          .item-name
            メンズ服 
          .price
            .price-content
              ¥5,000
    .back-image
      .image-block  
        .image
          =image_tag("/assets/karioki.jpg",size: "220x220",alt:"",class:"item-image")
        .image-content
          .item-name
            メンズ服
          .price
            .price-content
              ¥5,000
  .products
    .back-image
      .image-block
        .image
          =image_tag("/assets/karioki.jpg",size: "220x220",alt:"",class:"item-image")
        .image-content
          .item-name
            メンズ服
          .price
            .price-content
              ¥5,000
    .back-image
      .image-block
        .image
          =image_tag("/assets/karioki.jpg",size: "220x220",alt:"",class:"item-image")   
          .price
            .price-content
        .image-content
          .item-name
            メンズ服 
          .price
            .price-content
              ¥5,000
    .back-image
      .image-block  
        .image
          =image_tag("/assets/karioki.jpg",size: "220x220",alt:"",class:"item-image")
        .image-content
          .item-name
            メンズ服
          .price
            .price-content
              ¥5,000

  .users-product
    .product-file
      .head
        .head__content
          USERのその他の商品
  .products
    .back-image
      .image-block
        .image
          =image_tag("/assets/karioki.jpg",size: "220x220",alt:"",class:"item-image")
        .image-content
          .item-name
            メンズ服
          .price
            .price-content
              ¥5,000
    .back-image
      .image-block
        .image
          =image_tag("/assets/karioki.jpg",size: "220x220",alt:"",class:"item-image")   
          .price
            .price-content
        .image-content
          .item-name
            メンズ服 
          .price
            .price-content
              ¥5,000
    .back-image
      .image-block  
        .image
          =image_tag("/assets/karioki.jpg",size: "220x220",alt:"",class:"item-image")
        .image-content
          .item-name
            メンズ服
          .price
            .price-content
              ¥5,000
  .products
    .back-image
      .image-block
        .image
          =image_tag("/assets/karioki.jpg",size: "220x220",alt:"",class:"item-image")
        .image-content
          .item-name
            メンズ服
          .price
            .price-content
              ¥5,000
    .back-image
      .image-block
        .image
          =image_tag("/assets/karioki.jpg",size: "220x220",alt:"",class:"item-image")   
          .price
            .price-content
        .image-content
          .item-name
            メンズ服 
          .price
            .price-content
              ¥5,000
    .back-image
      .image-block  
        .image
          =image_tag("/assets/karioki.jpg",size: "220x220",alt:"",class:"item-image")
        .image-content
          .item-name
            メンズ服
          .price
            .price-content
              ¥5,000
.top-nav
  .top-nav__content
    .merukari
      メルカリ
    .yazirusi
      >
    .product-name
      COACH
