.pic
  .pic__se
    .pic__se__th
      .pic__se__th__fo
        スマホで簡単フリマアプリ
      .pic__se__th__fo2
        今すぐ無料ダウンロード
      .pic__se__th__fo
        .pic__se__th__fo__fi
          %img.sc-feryYK.jSTnBt{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png"}/
        .pic__se__th__fo__fi
          %img.sc-ccSCjj.sc-jKmXuR.kDwjrS{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"}/
        .pic__se__th__fo__fi
          %img.sc-ccSCjj.sc-elNKlv.fofvah{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg"}/    