.body
  .contents
    .contents__header
      %h1
        =link_to "https://www.mercari.com/jp/", id:"" do
          %img{:alt => "mercari", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2177740229"}/
    .contents__main
      .login-main
        .login-head
          %p
            アカウントをお持ちでない方はこちら
          .login-head__new
            %p
              新規会員登録
        .login-bottom
          .login-facebook
            %p
              Facebookでログイン
          .login-google
            %p
              googleでログイン
              

    .contents__footer
      %nav
        %ul
          %li
            =link_to "https://www.mercari.com/jp/privacy/", id:"" do
              プライバシーポリシー
          %li
            =link_to "https://www.mercari.com/jp/tos/", id:"" do
              メルカリ利用規約
          %li
            =link_to "", id:"https://www.mercari.com/jp/tokutei/" do
              特定商取引に関する表記
      =link_to "https://www.mercari.com/jp/", class: "mercari-icon", id:"" do
        %img(src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2177740229" alt="mercari")/
      %p
        %small
          ©︎2019 Mercari （編集済み） 