.back-image
  .image-block
    .image
      =image_tag (image.image),class:"item-image",size: "188x188"
      %h1 
        ¥
        = product.price
      .price
        .price-content
    .image-content
      .item-name
        = product.name