.body
  .contents
    .contents__main
      .main-head
        .main-head__confirmation
          購入内容の確認
        .buy-content 
          .buy-content-inner
            =image_tag (@images[0].image),class:"owl-lazy",size: "148x148" if @images[0].image.present?
            .item-name
              = @product.name
            .form
              .price
                .price-bold
                  ¥
                  = @product.price
                .price-font
                  送料込み
              .point
                ポイントはありません
              .price-total
                .price-total__siharai
                  支払い金額
                .price-total__bold
                  ¥
                  = @product.price
              .purchase
              = form_with url: payjp_product_path ,type: "submit", class: "btn-red",value:"購入する"do
                :plain
                  <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="pk_test_ef63b463bb0dce2a127045de"></script>
                
        .buy-user-info1
          .buy-content-inner
            .inner
              配送先
            .address
              .number
                〒552-0002
              .address-info
                大阪府大阪市港区市岡元町3-3-21-402
              .user-name
                蔵田 亮人
            .fix
            %li
              =link_to "", id:"",class: "change" do
                変更する >
        .buy-user-info2
          .buy-content-inner
            .inner
              支払い方法
            .number
              .secret-number
                *********1049
              .year-month
                10/24
              .figure
              %img{alt: "jcb", height: "20", src: "//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?2177740229", width: "26"}/

            .fix
            %li
              =link_to "", id:"",class: "change" do
                変更する >