.top-main
  %img.header-image{alt: "", src: "https://web-jp-assets.mercdn.net/_next/static/images/top-banner-camp-4f3fd88c685e8932d7dde2ad3a8336ba.jpg",height: "390",width: "100%"}/
  .exhibit-button
    .exhibit-button__wide
      .exhibit-button__wide__content
        .exhibit-button__wide__content__text
          出品
        .exhibit-button__wide__content__icon
          %i.fa.fa-camera
  .main
    .main-header
      .famous-categories
        人気のカテゴリー
      .category
        .ladies
          .font
            レディース
        .mens
          .font
            メンズ
        .av
          .font
            家電・スマホ・カメラ
        .hoby
          .font
            おもちゃ・ホビー・グッズ
    .items
      .item-review
        .ladies-new
          .content
            レディース新着アイテム
            %li
              =link_to "", id:"",class: "more" do
                もっと見る >
        .item-images
          .item-images__review
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服 
            .back-image
              .image-block  
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服 
          .item-images__review
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服 
            .back-image
              .image-block  
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服 
    .items
      .item-review
        .ladies-new
          .content
            メンズ新着アイテム
            %li
              =link_to "", id:"",class: "more" do
                もっと見る >
        .item-images
          .item-images__review
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服 
            .back-image
              .image-block  
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服 
          .item-images__review
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服 
            .back-image
              .image-block  
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服 
    .items
      .item-review
        .ladies-new
          .content
            家電・スマホ・カメラ新着アイテム
            %li
              =link_to "", id:"",class: "more" do
                もっと見る >
        .item-images
          .item-images__review
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服 
            .back-image
              .image-block  
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服 
          .item-images__review
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服 
            .back-image
              .image-block  
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服    
    .items
      .item-review
        .ladies-new
          .content
            おもちゃ・ホビー・グッズ新着アイテム
            %li
              =link_to "", id:"",class: "more" do
                もっと見る >
        .item-images
          .item-images__review
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服 
            .back-image
              .image-block  
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服 
          .item-images__review
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服 
            .back-image
              .image-block  
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服  
  .main
    .main-header
      .famous-categories
        人気のブランド
      .category
        .ladies
          .font
            シャネル
        .mens
          .font
            ルイヴィトン
        .av
          .font
            シュプリーム
        .hoby
          .font
            ナイキ
    .items
      .item-review
        .ladies-new
          .content
            シャネル新着アイテム
            %li
              =link_to "", id:"",class: "more" do
                もっと見る >
        .item-images
          .item-images__review
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服 
            .back-image
              .image-block  
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服 
          .item-images__review
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服 
            .back-image
              .image-block  
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服 
    .items
      .item-review
        .ladies-new
          .content
            ルイヴィトン新着アイテム
            %li
              =link_to "", id:"",class: "more" do
                もっと見る >
        .item-images
          .item-images__review
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服 
            .back-image
              .image-block  
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服 
          .item-images__review
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服 
            .back-image
              .image-block  
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
    .items
      .item-review
        .ladies-new
          .content
            シュプリーム新着アイテム
            %li
              =link_to "", id:"",class: "more" do
                もっと見る >
        .item-images
          .item-images__review
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服 
            .back-image
              .image-block  
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服 
          .item-images__review
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服 
            .back-image
              .image-block  
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服         
    .items
      .item-review
        .ladies-new
          .content
            ナイキ新着アイテム
            %li
              =link_to "", id:"",class: "more" do
                もっと見る >
        .item-images
          .item-images__review
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服 
            .back-image
              .image-block  
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服 
          .item-images__review
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服 
            .back-image
              .image-block  
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服
            .back-image
              .image-block
                .image
                  %img.item-image{alt: "", src: "assets/karioki.jpg",height: "188",width: "188"}/
                  %h1 ¥5,000
                  .price
                    .price-content
                .image-content
                  .item-name
                    メンズ服      